<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Evan Grossman", '#', id: "logo" %>
      </div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "about", '#' %></li>
          <li><%= link_to "apps", '#' %></li>
          <li><%= link_to "contact", '#' %></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
